@import "tailwindcss";

@theme {
  --color-primary: #D92D20;
  --color-primary-hover: #b92218;
  --color-secondary: #1D2939;
  --color-secondary-hover: #151e2b;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Lexend", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }
}
